@model TravelProject1.Models.Classlar.Blog
@{
    ViewBag.Title = "YeniBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Blog Daxil Et</h2>
<br />
<form class="form-group"method="post">
    @Html.LabelFor(x=>x.Basliq)
    @Html.TextBoxFor(x => x.Basliq, new { @class="form-control"})
    <br />
    @Html.LabelFor(x=>x.Tarix)
    @Html.TextBoxFor(x => x.Tarix, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.BlogImg)
    @Html.TextBoxFor(x => x.BlogImg, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Aciqlama)
    @Html.TextAreaFor(x => x.Aciqlama, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Əlavə Et</button>

</form>
